body{
    background-color: #f8f8ff;
    margin: 20px;
    font-family: sans-serif;
}
h1{
    color: #003459;
}
button{
    background-color: #ffc82d;
    border: none;
    color: #303030;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}